.services {
  background: #f5fbff;
  padding: 60px 0;
}

.services .single_department {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
}

.services .single_department .department_thumb {
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.services .single_department .department_thumb img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s;
}

.services .single_department .department_content {
  padding: 22px 30px 24px 30px;
}

.services .single_department .department_content h3 {
  margin-bottom: 0;
}

.services .single_department .department_content h3 a {
  font-size: 22px;
  color: #1f1f1f;
  line-height: 33px;
  font-weight: 500;
}

.services .single_department .department_content h3 a:hover {
  color: #5db2ff;
}

.services .single_department .department_content p {
  font-size: 16px;
  line-height: 28px;
  color: #727272;
  margin-top: 5px;
  margin-bottom: 10px;
}
.appointmentBtn {
  background: #009dff;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 22px;
  transition: all 0.3s ease;
  outline: none;
  font-weight: 500;
}
.appointmentBtn:hover {
  background: #fff;
  color: #009dff;
  border: 1px solid #009dff;
}

.services .single_department:hover .department_thumb img {
  transform: scale(1.2);
}
