@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.error {
  color: #ff3333;
  margin-top: 6px;
  display: inline-block;
  font-weight: 500;
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.spinnerContainer .privateSpinner {
  width: 6rem;
  height: 6rem;
  border-color: #5db2ff;
  border-right-color: transparent;
}
.section-title {
  font-size: 38px;
  text-align: center;
  text-transform: capitalize;
}
.section-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  background-color: #5db2ff;
  margin: 12px auto 35px;
}
@media screen and (max-width: 768px) {
  .section-title {
    position: relative;
    font-size: 36px;
  }
}
